body {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  overscroll-behavior: none;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.complete-top {
  background-color: #1f2937;
  height: 1%;
}
.container {
  margin: 0 auto;
  max-width: 70%;
  background-color: #1f2937;
  justify-content: center;
  justify-content: space-between ;
}
.logo {
  margin-left: 7.5%;
} 
#main_logo {
  height: 105px;
  border-radius: 20px;
}
#links {

}
.button_div {
  display: flex;
  gap: 6rem;
  margin-right: 10%;
}
.topItems {
  display: flex;
}
.buttons {
  background-color: #1f2937;
  border: none;
  color: white;
  cursor: pointer;
}
.top-text {
  margin-left: 7%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#mainText {
  color: white;
  font-size: 40px;
  margin: none;
}
#SmallText {
  color: grey;
  font-size: large;
  margin: none;
}
.main-stuff {
  padding-top: 7%;
  display: flex;
  padding-bottom: 6%;
  width: 100%;
}
.logoPlaceholder {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 900px;
  gap: none;
  margin-right: 9%;
}
.title-text {
  margin: auto;
}
#randominfo {
  text-align: center;
}
.fourpics {
  display: flex;
  gap: 0rem;
  margin-top: 100px;
  justify-content: space-evenly;
}
.boxes {
  height: 150px;
  width: 150px;
  background-color: black;
}
.fourtext {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
}
.grayboxtext {
  font-size: 2rem;
  justify-self: auto;
  width: 50%;
  margin: 100px auto;
}
.graybox {
  background-color: #E5E7EB;
  height: 200px;
  display: flex;
  align-items: center;
  margin-top: 100px;
}