* {
  border: solid white 1px;
  margin: none;
  padding: none;
}
body {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.topHeader {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.complete-top {
  background-color: #1f2937
}
.container {
  margin: 0 auto;
  max-width: 90%;
  background-color: #1f2937;
  justify-content: center;
  justify-content: space-between ;
}
.logo {
  margin-left: 100px;
} 
#main_logo {
  height: 105px;
  border-radius: 20px;
}
#links {

}
.button_div {
  display: flex;
  gap: 9rem;
}
.topItems {
  display: flex;
}
.buttons {
  background-color: #1f2937;
  border: none;
  color: white;
  cursor: pointer;
}
.top-text {
  margin-left: 7%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#mainText {
  color: white;
  font-size: 40px;
  margin: none;
}
#SmallText {
  color: grey;
  font-size: large;
  margin: none;
}